.knowledge_image{
  width: 100%;
}
.list_container{
  margin-top: 50px;
}
.list_container h2 {
  padding: 25px 35px;
  padding-top: 0;
  position: absolute;
  color: #fff;
  font-weight: 500;
  font-size: 30px;
  z-index: 1;
}
.list_container  .rectangle{
  width: 27%;
  position: relative;
  top: -4px;
  border-bottom: 24px solid transparent;
  border-right: 24px solid transparent;
  border-top: 50px solid #1d4fff;
}
.list_container  .rectangleBottom{
  width: 20%;
  position: absolute;
  border-bottom: 24px solid transparent;
  border-right: 24px solid transparent;
  border-top: 54px solid #e3f2ff;
}
.list_container h4 {
padding: 10px 0 10px;
font-size: 24px;
}
.list_container .contentText{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 40px;
}
.list_container .contentText p{
 margin-bottom: 40px;
 font-size: 18px;
 font-weight: 500;
}
.list_container .contentText li{
 width: 49%;
}